@import url('https://fonts.googleapis.com/css2? family = Cabin: wght @ 400; 600; 700 & display = swap');


/*FORMATAÇÕES GERAIS*/
body{
    margin: 0;
    padding: 0;
    font-family:'Cabin', sans-serif;
   
}

h1{
    font-size: 20pt;
}

#button_tile{
    border: none;
    background-color: #FF6F00;
    color: white;
    padding: 10px;
    padding-right:71px;
    padding-left: 30px;
    border-top-left-radius: 30px;
    border-bottom-right-radius: 30px;
    font-size: 18pt;
    text-transform: uppercase;
    
}

.text_info{
    text-align: justify;
}



/*COR BARRA DE ROLAGEM*/

/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 10px;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #FF6F00; 
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background:#9b490a; 
  }

.main_container{
    max-width: 1000px;
    margin: auto;
   
}


/*Cabeçalho*/

.main-header-container{
    max-width: 1000px;
    height: 100%;
    margin: auto;
}
#main_header{
   width: 100%;
   background-image: url('../imagens/background-header.jpg');
   background-repeat: no-repeat;
   background-size: cover;
   background-attachment: fixed;
    
}

.main_header_bar{
    max-width: 100vw;
    height:60px;
    background-color: yellowgreen;
    
}



.icone_avatar{
    background-color: #1E1E22;
    border-radius: 100px;
    width: 200px;
    height: 200px;
    margin-top: 140px;
    margin-bottom: 28px;
    background-image: url('../imagens/foto.png');
    background-size: cover;
    background-position: center;
}


.main_info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.container_info{
    text-align: center;
    color: white;
    line-height: 35px;
}

.container_info span:first-child{
    color:#FF6F00 ;
    font-weight: bold;
}
.container_info span img:first-child{
    width: 20px;
    padding-bottom: 10px;
}
.container_info h2:first-child{
    font-size: 18px;
    letter-spacing: 18px;
    text-transform: uppercase;
}

.container_info h1{
    font-size: 50px;
}

.container_info h3{
    font-size: 18px;
    letter-spacing: 7px;
}

.container_info h3::before {
    content: '<';
    width: 20px;
    display: inline-block;
    position: absolute;
    margin-left:-30px;
   
}


.container_info h3::after {
    content: '>';
    width: 20px;
    display: inline-block;
    position: absolute;
    margin-left:9px;
   
}



/*botão saber mais*/
.button_more{
    margin-top: 100px;
    padding-bottom: 50px;
}
.button_more a{
    text-decoration: none;
    text-transform: uppercase;
    color: white;
    font-size: 12px;
    letter-spacing: 5px;
}

/*header menus*/

#main_menu{
    position: fixed;
    left: 0;
    right: 0;
    padding: 30px;
    z-index: 1;
    background: rgba(0, 0, 0, 0.5);
}
.main-header-container ul{
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    list-style: none;
}

.main-header-container ul a{
    display: flex;
    align-items: center;
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    font-size: 13px;
}


.main-header-container ul li:hover{
    color:#FF6F00;
}



/*icones*/

.main-header-container ul span img{
    width: 17px;
    margin-right: 16px;
}



/*Main section sobre*/
/*icones social padrão*/
.social {
    margin-top: 30px;
}
.social ul{
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
}

.social ul a{
    margin-right: 30px;
}

#about{
    max-width: 100%;
    background-color: #17161B;
    color: white;
}

.main_about{
    display: grid;
    grid-template-columns:repeat(2,1fr);
    padding-top: 150px;
}

.right_description_sobre h1{
    text-transform: uppercase;
}

.borda{
    width:50px;
    height:4px;
    margin-top: -10px;
    display: block;
    background-color:#FF6F00 ;
}

/*Button download cv*/
.button_radiuns{
    padding-bottom: 10px;
    padding-top: 30px;
}
.button_radiuns a{
    text-decoration: none;
    text-transform: uppercase;
    color:white;
    background-color:#FF6F00;
    padding: 15px;
    border-radius: 20px;
}

.button_radiuns a:hover{
    transition: 0.5s ease;
    background-color:#9b490a ;
}

/*texto sobre*/
.right_description_sobre p{
    margin-bottom: 33px;
    margin-top: 33px;
}

.about_budget h2{
    text-transform: uppercase;
    letter-spacing: 7px;
    font-size: 11px;
    margin-top: 40px;

}

.about_container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
}

.about_container .borda{
    margin-top: 10px;
}



/*section services*/

#services{
    width: 100%;
    background-image: url('../imagens/background_services.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;

}

.services_content{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 45px;
    margin-top: 120px;
    padding-bottom:100px;
}

.bloco_service p{
    font-size: 15px;
    text-align: center;
}


.services_title{
    line-height: 40px;
}

.main_services{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    align-items: center;
    padding-top: 100px;
    gap: 250px;
}


.orcamento{
    width: 100%;
    text-align: center;
    padding-bottom: 70px;
    
}

.services_title h1,h2{
    color: white;
    text-transform: uppercase;
}
.services_title h2{
    letter-spacing: 7px;
    font-size: 13px;
    font-weight: lighter;
}


.bloco_service {
    max-width: 300px;
    text-align: center;
    color: white;
    border: 2px solid #FF6F00;
    border-radius: 20px;
    padding: 30px;
}
/*icones services*/

.services_icone img{
     max-width: 100%;
}


.img_services img{
    width:70px;
}






/*SEÇÕES PROCESSO DE CRIAÇÃO*/

.main_widget{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    padding-top: 100px;
    align-items: center;
}


.widget_left h1{
    text-transform: uppercase;
}

.widget_left .widget_right, .text_info{
    padding-top: 20px;
    padding-bottom: 20px;
}


.widget_main_pontos{
    display: flex;
    letter-spacing: 50px;
    color: #FF6F00;
    
}

.widget_ponto{
    font-size: 22px;
}



#creative_process{
    background-color:#17161B;
    color: white;
}

.creative_process .main_container  h1{
    text-align: center;
    margin: 0;
}
/*TITULO MAIN*/



.block_text_process{
    text-align: center;
    padding-top: 100px;
}
.block_text_process h1{
    text-align: center;
    margin: 0;
   
}

.block_text_process span{
    margin: auto;
    margin-top: 20px;
}

.titulo_process{
    text-align: center;
    padding-top: 100px;
}






/*REPONSIVIDADE*/


@media (max-width: 1024px){
    .main_container{
        padding: 50px;
    }

    .left_photo img{
        max-width: 250px;
    }

    .services_content{
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
    }

    .services_title{
        display: grid;
        justify-content: center;
    }

    .services_icone{
        display: grid;
        justify-content: center;
    }
    

}

@media (max-width: 768px){
    #main_menu{
        display: none;
    }

    .main_about{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        padding-top: 31px;
    }

    .main_services{
        gap: 0;
    }

   .text_title_sobre h1{
       text-align: center;
   }

   .text_title_sobre .borda{
       margin: auto;
   }

   .left_photo{
       margin: auto;
   }

   

   h1{
       font-size: 18pt;
   }

   

   .main_widget{
        display: grid;
        grid-template-columns: repeat(1,1fr);
   }

   .widget_left, .widget_right{
       text-align: center;
   }

   .widget_left  .text_info{
       text-align: center;
   }

   .widget_right .text_info{
       text-align: center;
   }


   .widget_left .borda{
       display: none;
   }

   .widget_right .borda{
        display: none;
    }

  #button_tile{
      font-size: 20pt;
      text-align: center;
  }

}


@media (max-width: 450px){

    /*CABEÇALHO */

    .main_info .container_info h1{
        font-size: 18pt;
    }

    .container_info h2:first-child{
        font-size: 15px;
        letter-spacing: 9px;
    }


    .container_info h3{
        font-size: 15px;
    }

    /*BODY*/

    .about_container{
        display: grid;
        grid-template-columns: repeat(1,1fr);
    }


    .main_services{
        display: grid;
        grid-template-columns: repeat(1,1fr);
    }

    .img_sobre img{
        max-width: 300px;
    }

    .services_title h1{
        font-size: 26pt;
    }

    .services_title h2{
        letter-spacing: 6px;
    }

    .text_info p{
        font-size: 9pt;
    }
}